# Olympics Dataset - Case Study

In [1]:
import pandas as pd
import numpy as np

### Question - 1:

Create a dataframe with following data cleanup to make this file redable.

Create a function load_data to read CSV file and convert CSV data to dataframe.
Skip first row.
Rename column containing 01, 02 and 03 to Gold, Silver and Bronze.
Split country name and country code and add country name as data frame index.
Remove extra unnecessary characters from country name.
Drop the column Totals.
Return dataframe.

In [2]:
#filepath = '/home/nikhil/Documents/olympics.csv'
def load_data(filepath):
    dataset = pd.read_csv(filepath, skiprows=1)
    rename_columns = {'Unnamed: 0': 'Country',
                 '01 !': 'Gold',
                 '02 !': 'Silver',
                 '03 !': 'Bronze',
                 '01 !.1': 'Gold',
                 '02 !.1': 'Silver',
                 '03 !.1': 'Bronze',
                 '01 !.2': 'Gold',
                 '02 !.2': 'Silver',
                 '03 !.2': 'Bronze',
                 'Total.1': 'Total'}
    dataset.rename(columns = rename_columns, inplace = True)
    country_names = [x.split('\xc2\xa0(')[0] for x in dataset.iloc[:,0]]
    dataset.set_index(pd.Series(country_names), inplace=True)
    dataset.iloc[:,0] = country_names
    dataset.drop('Total', axis = 1, inplace = True)
    return dataset

In [3]:
dataset = load_data('/home/nikhil/Documents/olympics.csv')

In [4]:
# def split(series):
#     for string in series:
#         country_names = string.split('\xc2\xa0(')[0]
#         dataset.set_index(pd.Series(country_names), inplace=True)

In [5]:
# split(dataset['Country'])

In [6]:
# dataset.set_index(pd.Series(country_names), inplace = True)

In [7]:
dataset.head()

,Country,# Summer,Gold,Silver,Bronze,# Winter,Gold,Silver,Bronze,# Games,Gold,Silver,Bronze,Combined total
Afghanistan,Afghanistan,13,0,0,2,0,0,0,0,13,0,0,2,2
Algeria,Algeria,12,5,2,8,3,0,0,0,15,5,2,8,15
Argentina,Argentina,23,18,24,28,18,0,0,0,41,18,24,28,70
Armenia,Armenia,5,1,2,9,6,0,0,0,11,1,2,9,12
Australasia,Australasia,2,3,4,5,0,0,0,0,2,3,4,5,12

### Question - 2:

Write a function to get first country details from dataframe we got from load_data function.

Create a function first_country.
Return results for first country.

In [8]:
def first_country(df):
    result = dataset.iloc[0,:]
    return result

In [9]:
first_country(dataset)

Country           Afghanistan
# Summer                   13
Gold                        0
Silver                      0
Bronze                      2
# Winter                    0
Gold                        0
Silver                      0
Bronze                      0
# Games                    13
Gold                        0
Silver                      0
Bronze                      2
Combined total              2
Name: Afghanistan, dtype: object

### Question - 3:

Which country has won the most gold medals in summer games?

Create a function gold_medal to get name of country who won most gold medals.
Return country name.

In [10]:
def gold_medal(df):
    return df.iloc[:146,2].idxmax()

In [11]:
gold_medal(dataset)

'United States'

### Question - 4:

Which country had the biggest difference between their summer and winter gold medal counts?

Create a function biggest_difference_in_gold_medal to get name of country who has biggest difference between their summer and winter gold medal counts.
Return country name.

In [12]:
def biggest_difference_in_gold_medal (df):
    return (df.iloc[0:146,2]-df.iloc[0:146,6]).argmax()

In [13]:
biggest_difference_in_gold_medal(dataset)

'United States'

### Question - 5:

Write a function to update the dataframe to include a new column called "Points" for Games which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze medals for 1 point. The function should return only the column (a Series object) which you created.

Create a function get_points.
Return dataframe with points column and index.

In [14]:
def get_points(df):
    df['points'] = 3*(df['Gold'].sum(axis=1)) + 2*(df['Silver'].sum(axis=1)) + 1*(df['Bronze'].sum(axis=1))
    return df.iloc[:,14]

In [15]:
get_points(dataset)

Afghanistan                             4
Algeria                                54
Argentina                             260
Armenia                                32
Australasia                            44
Australia                            1846
Austria                              1138
Azerbaijan                             86
Bahamas                                48
Bahrain                                 2
Barbados                                2
Belarus                               308
Belgium                               552
Bermuda                                 2
Bohemia                                10
Botswana                                4
Brazil                                368
British West Indies                     4
Bulgaria                              822
Burundi                                 6
Cameroon                               24
Canada                               1692
Chile                                  48
China                                2240
Colombia                               58
Costa Rica                             14
Ivory Coast                             4
Croatia                               134
Cuba                                  840
Cyprus                                  4
                                    ...
Sri Lanka                               8
Sudan                                   4
Suriname                                8
Sweden                               2434
Switzerland                          1260
Syria                                  12
Chinese Taipei                         64
Tajikistan                              8
Tanzania                                8
Thailand                               88
Togo                                    2
Tonga                                   4
Trinidad and Tobago                    54
Tunisia                                38
Turkey                                382
Uganda                                 28
Ukraine                               440
United Arab Emirates                    6
United States                       11368
Uruguay                                32
Uzbekistan                             76
Venezuela                              36
Vietnam                                 8
Virgin Islands                          4
Yugoslavia                            342
Independent Olympic Participants        8
Zambia                                  6
Zimbabwe                               36
Mixed team                             76
Totals                              69696
Name: points, dtype: int64

In [16]:
dataset.head()

,Country,# Summer,Gold,Silver,Bronze,# Winter,Gold,Silver,Bronze,# Games,Gold,Silver,Bronze,Combined total,points
Afghanistan,Afghanistan,13,0,0,2,0,0,0,0,13,0,0,2,2,4
Algeria,Algeria,12,5,2,8,3,0,0,0,15,5,2,8,15,54
Argentina,Argentina,23,18,24,28,18,0,0,0,41,18,24,28,70,260
Armenia,Armenia,5,1,2,9,6,0,0,0,11,1,2,9,12,32
Australasia,Australasia,2,3,4,5,0,0,0,0,2,3,4,5,12,44

In [17]:
from sklearn.preprocessing import LabelEncoder
def label_encoder(df,list_of_columns):
    try:
        for col in list_of_columns:
            encoder = LabelEncoder()
            df[col] = encoder.fit_transform(df[col])
        return df
    except KeyError:
        print("exception occured")
label_encoder(dataset,['Country'])

,Country,# Summer,Gold,Silver,Bronze,# Winter,Gold,Silver,Bronze,# Games,Gold,Silver,Bronze,Combined total,points
Afghanistan,0,13,0,0,2,0,0,0,0,13,0,0,2,2,4
Algeria,1,12,5,2,8,3,0,0,0,15,5,2,8,15,54
Argentina,2,23,18,24,28,18,0,0,0,41,18,24,28,70,260
Armenia,3,5,1,2,9,6,0,0,0,11,1,2,9,12,32
Australasia,4,2,3,4,5,0,0,0,0,2,3,4,5,12,44
Australia,5,25,139,152,177,18,5,3,4,43,144,155,181,480,1846
Austria,6,26,18,33,35,22,59,78,81,48,77,111,116,304,1138
Azerbaijan,7,5,6,5,15,5,0,0,0,10,6,5,15,26,86
Bahamas,8,15,5,2,5,0,0,0,0,15,5,2,5,12,48
Bahrain,9,8,0,0,1,0,0,0,0,8,0,0,1,1,2
Barbados,10,11,0,0,1,0,0,0,0,11,0,0,1,1,2
Belarus,11,5,12,24,39,6,6,4,5,11,18,28,44,90,308
Belgium,12,25,37,52,53,20,1,1,3,45,38,53,56,147,552
Bermuda,13,17,0,0,1,7,0,0,0,24,0,0,1,1,2
Bohemia,14,3,0,1,3,0,0,0,0,3,0,1,3,4,10
Botswana,15,9,0,1,0,0,0,0,0,9,0,1,0,1,4
Brazil,16,21,23,30,55,7,0,0,0,28,23,30,55,108,368
British West Indies,17,1,0,0,2,0,0,0,0,1,0,0,2,2,4
Bulgaria,18,19,51,85,78,19,1,2,3,38,52,87,81,220,822
Burundi,19,5,1,0,0,0,0,0,0,5,1,0,0,1,6
Cameroon,20,13,3,1,1,1,0,0,0,14,3,1,1,5,24
Canada,21,25,59,99,121,22,62,56,52,47,121,155,173,449,1692
Chile,22,22,2,7,4,16,0,0,0,38,2,7,4,13,48
China,23,9,201,146,126,10,12,22,19,19,213,168,145,526,2240
Colombia,25,18,2,6,11,1,0,0,0,19,2,6,11,19,58
Costa Rica,26,14,1,1,2,6,0,0,0,20,1,1,2,4,14
Ivory Coast,64,12,0,1,0,0,0,0,0,12,0,1,0,1,4
Croatia,27,6,6,7,10,7,4,6,1,13,10,13,11,34,134
Cuba,28,19,72,67,70,0,0,0,0,19,72,67,70,209,840
Cyprus,29,9,0,1,0,10,0,0,0,19,0,1,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sri Lanka,117,16,0,2,0,0,0,0,0,16,0,2,0,2,8
Sudan,118,11,0,1,0,0,0,0,0,11,0,1,0,1,4
Suriname,119,11,1,0,1,0,0,0,0,11,1,0,1,2,8
Sweden,120,26,143,164,176,22,50,40,54,48,193,204,230,627,2434
Switzerland,121,27,47,73,65,22,50,40,48,49,97,113,113,323,1260
Syria,122,12,1,1,1,0,0,0,0,12,1,1,1,3,12
Chinese Taipei,24,13,2,7,12,11,0,0,0,24,2,7,12,21,64
Tajikistan,123,5,0,1,2,4,0,0,0,9,0,1,2,3,8
Tanzania,124,12,0,2,0,0,0,0,0,12,0,2,0,2,8
Thailand,125,15,7,6,11,3,0,0,0,18,7,6,11,24,88
Togo,126,9,0,0,1,1,0,0,0,10,0,0,1,1,2
Tonga,127,8,0,1,0,1,0,0,0,9,0,1,0,1,4
Trinidad and Tobago,129,16,2,5,11,3,0,0,0,19,2,5,11,18,54
Tunisia,130,13,3,3,4,0,0,0,0,13,3,3,4,10,38
Turkey,131,21,39,25,24,16,0,0,0,37,39,25,24,88,382
Uganda,132,14,2,3,2,0,0,0,0,14,2,3,2,7,28
Ukraine,133,5,33,27,55,6,2,1,4,11,35,28,59,122,440
United Arab Emirates,135,8,1,0,0,0,0,0,0,8,1,0,0,1,6
United States,136,26,976,757,666,22,96,102,84,48,1072,859,750,2681,11368
Uruguay,138,20,2,2,6,1,0,0,0,21,2,2,6,10,32
Uzbekistan,139,5,5,5,10,6,1,0,0,11,6,5,10,21,76
Venezuela,140,17,2,2,8,4,0,0,0,21,2,2,8,12,36
Vietnam,141,14,0,2,0,0,0,0,0,14,0,2,0,2,8
Virgin Islands,142,11,0,1,0,7,0,0,0,18,0,1,0,1,4
Yugoslavia,144,16,26,29,28,14,0,3,1,30,26,32,29,87,342
Independent Olympic Participants,56,1,0,1,2,0,0,0,0,1,0,1,2,3,8
Zambia,145,12,0,1,1,0,0,0,0,12,0,1,1,2,6
Zimbabwe,146,12,3,4,1,1,0,0,0,13,3,4,1,8,36
Mixed team,80,3,8,5,4,0,0,0,0,3,8,5,4,17,76
Totals,128,27,4809,4775,5130,22,959,958,948,49,5768,5733,6078,17579,69696

### Question - 6

Write a function to perform k-means clustering.

Create a fucntion k_means
return cluster centers

In [18]:
from sklearn.cluster import KMeans
def k_means(df,n,k):
    kmeans = KMeans(n_clusters=n, random_state=k).fit(df)
    #print kmeans.labels_
    return kmeans.cluster_centers_

In [19]:
k_means(dataset.iloc[0:146,:],4,10)

array([[  7.25203252e+01,   1.21626016e+01,   7.44715447e+00,
          9.15447154e+00,   1.05934959e+01,   4.52032520e+00,
          4.30894309e-01,   5.52845528e-01,   6.26016260e-01,
          1.66829268e+01,   7.87804878e+00,   9.70731707e+00,
          1.12195122e+01,   2.88048780e+01,   1.08536585e+02],
       [  1.36000000e+02,   2.60000000e+01,   9.76000000e+02,
          7.57000000e+02,   6.66000000e+02,   2.20000000e+01,
          9.60000000e+01,   1.02000000e+02,   8.40000000e+01,
          4.80000000e+01,   1.07200000e+03,   8.59000000e+02,
          7.50000000e+02,   2.68100000e+03,   1.13680000e+04],
       [  7.26470588e+01,   1.92941176e+01,   1.00705882e+02,
          1.01764706e+02,   1.14411765e+02,   1.75882353e+01,
          3.38823529e+01,   3.43529412e+01,   3.37058824e+01,
          3.68823529e+01,   1.34588235e+02,   1.36117647e+02,
          1.48117647e+02,   4.18823529e+02,   1.64823529e+03],
       [  6.24000000e+01,   2.08000000e+01,   2.41000000e+02,
          2.32400000e+02,   2.43200000e+02,   1.72000000e+01,
          4.68000000e+01,   4.08000000e+01,   4.28000000e+01,
          3.80000000e+01,   2.87800000e+02,   2.73200000e+02,
          2.86000000e+02,   8.47000000e+02,   3.39160000e+03]])